---
layout: default
title: Infos
html: infos.html
previous: index.html
next: rules.html
---
<h4 id="goals">Goals</h4>
I wish to make it the goal of all of BMN to be the greatest at what we do. My goal is to have <b>at least</b> five BMN member-made saves on the first page at the same time, and that whenever someone searches the words Ship, Weapon or Bomb, they see BMN member-made saves <b>first</b>.

<hr />

<h4 id="savelogo">BMN Save Logo</h4>
This is the logo for BMN. It would benefit us a <b>lot</b> if you could put one of these logos into your saves.<br>
Original version made by <a href="members.html?vusicia">vusicia</a>, improved by <a href="members.html?Hopian">Hopian</a>, further improved by <a href="members.html?nucular">nucular</a>, Rank Specific Shoulder Boards by <a href="members.html?Mrprocom">Mrprocom</a></a>
<div class="row" style="margin:0px;">
  <save data-id="1481478" data-author="nucular" data-title="BMN LOGO IMPROVED IMPROVED" data-img="img/save-logo.png"></save>
  <save data-id="1811509" data-author="Mrprocom" data-title="Logo Specialization" data-img="img/save-ranks.png"></save>
</div>

<hr />

<h4 id="awards">Awards and Achievements</h4>
<p>This section is a listing of all awards and achievements one can earn to be put on their record. If you believe you have already earned an award, but it isn't on your record yet, please message the current Fleet Admiral.</p>

<h5 id="award-bmn">Brilliant Minds of the Navy Award</h5>
<ul>
  <li><span class="badge badge-warning" title="Gold rank">BMN</span> Given to the best member of the group, transferred between players every month. Nobody may hold it for more than two months.</li>
  <li><span class="badge badge-diamond" title="Diamond rank">BMN</span> Has previously held the BMNA for two months. You keep this award forever.</li>
</ul>

<div class="row">
  <div class="col-md-6">
    <h5 id="award-recruiting">Recruiting Award</h5>
    <ul>
      <li><span class="badge badge-default" title="Standard rank">Recruiting</span> 5 people recruited</li>
      <li><span class="badge badge-bronze" title="Bronze rank">Recruiting</span> 10 people</li>
      <li><span class="badge badge-silver" title="Silver rank">Recruiting</span> 15 people</li>
      <li><span class="badge badge-warning" title="Gold rank">Recruiting</span> 20 people</li>
      <li><span class="badge badge-diamond" title="Diamond rank">Recruiting</span> 30 people</li>
    </ul>
  </div>
  <div class="col-md-6">
    <h5 id="award-front-page">Front Page Saves Award</h5>
    <ul>
      <li><span class="badge badge-default" title="Standard rank">Front Page</span> 1 save was on the FP</li>
      <li><span class="badge badge-bronze" title="Bronze rank">Front Page</span> 3 saves</li>
      <li><span class="badge badge-silver" title="Silver rank">Front Page</span> 5 saves</li>
      <li><span class="badge badge-warning" title="Gold rank">Front Page</span> 10 saves</li>
      <li><span class="badge badge-diamond" title="Diamond rank">Front Page</span> 20 saves</li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h5 id="award-offworld-governor">Offworld Governor Award</h5>
    <ul>
      <li><span class="badge badge-default" title="Standard rank">Offworld Governor</span> Has created a BMN forum expansion that has recruited 5 members</li>
      <li><span class="badge badge-bronze" title="Bronze rank">Offworld Governor</span> 7 members</li>
      <li><span class="badge badge-silver" title="Silver rank">Offworld Governor</span> 10 members</li>
      <li><span class="badge badge-warning" title="Gold rank">Offworld Governor</span> 12 members</li>
      <li><span class="badge badge-diamond" title="Diamond rank">Offworld Governor</span> 15+ members</li>
    </ul>
  </div>
  <div class="col-md-6">
    <h5 id="award-project-manager">Project Manager Badge</h5>
    <ul>
      <li><span class="badge badge-default" title="Standard rank">Project Manager</span> Worked as the Project Manager on a BMN Group Project</li>
      <li><span class="badge badge-warning" title="Gold rank">Project Manager</span> The Group Project save received Front Page</li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h5 id="award-critical-contribution">Critical Contribution Award</h5>
    <ul>
      <li><span class="badge badge-default" title="Standard Rank">Critical Contribution</span> Nominal Contribution. Helped the Group in one way or another.</li>
      <li><span class="badge badge-warning" title="Gold Rank">Critical Contribution</span> Made a Contribution that greatly helped the group, and continues to function to this day.</li>
      <li><span class="badge badge-diamond" title="Diamond Rank">Critical Contribution</span> Made a Contribution that is now integral to the group and it's function.</li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h5 id="award-executive-officer">Executive Officer Badge</h5>
    <span class="badge badge-inverse" title="Badge">Executive Officer</span> Was the Executive Officer for at least 4 days
  </div>
  <div class="col-md-6">
    <h5 id="award-admirals-counsel">Admirals Counsel Badge</h5>
    <span class="badge badge-inverse" title="Badge">Admirals Counsel</span> Was a member of the AC for at least 7 days
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h5 id="award-technical">Technical Award</h5>
    <span class="badge badge-inverse" title="Badge">Technical</span> Did something to help the BMN IRC channel
  </div>
  <div class="col-md-6">
    <h5 id="award-electrician">Electrician Award</h5>
    <span class="badge badge-inverse" title="Badge">Electrician</span> Shows great skills in the electronic area of TPT
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h5 id="award-weapons-specialist">Weapons Specialist Award</h5>
    <span class="badge badge-inverse" title="Badge">Weapons Specialist</span> Shows great skill in the weaponry aspect of TPT
  </div>
  <div class="col-md-6">
    <h5 id="award-colonist">Colonist Award</h5>
    <span class="badge badge-inverse" title="Badge">Colonist</span> Successfully created a BMN expansion group on another forum
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h5 id="award-commanding-officer">Commanding Officer Badge</h5>
    <span class="badge badge-inverse" title="Badge">Commanding Officer</span> Was the Commanding Officer for at least 7 days
  </div>
  <div class="col-md-6">
    <h5 id="award-leadership">Leadership Award</h5>
    <span class="badge badge-inverse" title="Badge">Leadership</span> Shows exceptional skill at being a leader
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h5 id="award-electrician">Electrician Award</h5>
    <span class="badge badge-inverse" title="Badge">Electrician</span> Shows great skills in the electronic area of TPT
  </div>
</div>

<hr />

<h4 id="group-project">Group Project Method</h4>
<p>Projects will be the collaborative efforts of the group to make great additions to the Powder Toy realm.</p>
<h5>How to do a project</h5>
<ol>
  <li>Upload the initial save</li>
  <li>The next person to work on it does so and uploads it</li>
  <li>Cycle continues</li>
  <li>The project gets finished</li>
  <li>It gets uploaded under the <b>initial</b> creators account. Credit is given to <b>all</b> helpers. Include <b>all</b> ranks.</li>
</ol>
<p>The initial creator has full direction, unless overridden by the AC.</p>

<hr />

<h4 id="advertisement">Advertisement</h4>
<p>If you wish to advertise this group, make sure you are smart about it. If you made a thread and you wish to advertise BMN inside it, go ahead. I'm just warning you though, it almost always kills the topic.<br />
  You may message people over the PM system, but please make sure you let them know that your message isn't spam, just an invite. <b>Do not</b> get into fights with people about this. If they say no, you say okay and move on.<br />
  Even if they give you a highly invalid reason, do not fight with them over it. They are entitled to their own opinions.<br />
  Happy advertising.
</p>