#webchat {
    border: 1px solid #E3E3E3;
}


#webchat-wiki {
    height: 575px;
    overflow: auto;
    border: 1px solid #E3E3E3;
    border-radius: 5px;
    padding: 10px;
    box-sizing: content-box;
}


#wiki-start, #wiki-cmd, #wiki-friendly {
    display: none;
}


a {
    cursor: pointer;
}
