---
layout: default
title: Mod
html: mod.html
previous: saves.html
---
<div class="jumbotron">
  <h1>BMN The Powder Toy Mod <small>V. {{ site.mod_version }}</small></h1>
  <p class="lead">Merge ALL the mods!</p>
  <p class="sub-lead">Here should go some more informations about the current release, but I'm too lazy to invent this text so I'm just writing some senseless stuff here.
  </p>
  <div class="container">
    <form class="form-horizontal" method="post" action="http://files.brilliant-minds.tk/Mod/Download.php">
      <div class="form-group">
        <label for="os" class="col-sm-3 control-label">Operating System</label>
        <div class="col-sm-9">
          <select name="os" id="os" class="form-control">
            <option>Linux</option>
            <option>Windows</option>
            <option>Mac</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="version" class="col-sm-3 control-label">Version</label>
        <div class="col-sm-9">
          <select name="version" id="version" class="form-control">
            <!-- VERSION -->
            <option>1.0.1</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="bits" class="col-sm-3 control-label">Architecture</label>
        <div class="col-sm-9">
          <select name="bits" id="bits" class="form-control">
            <option>32 bit</option>
            <option>64 bit</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-lg btn-success"><i class="glyphicon glyphicon-download-alt"></i> Download</button>
        </div>
      </div>
    </form>
  </div>
  <br />
  <small class="text-muted">in-dev branch:&nbsp;</small>
  <a href="https://travis-ci.org/Brilliant-Minds/BMN-Powder-Toy">
    <img src="https://travis-ci.org/Brilliant-Minds/BMN-Powder-Toy.svg?branch=master" onerror="this.src='https://travis-ci.org/Brilliant-Minds/BMN-Powder-Toy.png?branch=master'" alt="TravisCI" height="20" width="90" /><!--<![endif]-->
  </a>
</div>
<hr />
<div class="row subheadings">
  <div class="col-md-6">
    <a href="https://github.com/Brilliant-Minds/BMN-Powder-Toy">
      <img class="svg" src="img/github.svg" onerror="this.src='img/github.png'" alt="GitHub" />
      <h4>GitHub</h4>
    </a>
    <p>You can find the source code of this mod on GitHub and participate with feedback and code.</p>
    <h4>Developers</h4>
    <p>wolfy1339, nucular</p>
  </div>
  <div class="col-md-6">
    <img class="svg" onerror="this.src='img/travis.png'" src="img/travis.svg" />
    <h4>TravisCI</h4>
    <p>This mod uses TravisCI to make sure that everything is compilable.</p>
    <h4>Save Servers</h4>
    <p>In this mod, you will have a choice to use the original TPT server, the TPTNet server or BMNNet our very own save server.</p>
  </div>
</div>
