.savegame-outer {
    margin: 0;
    max-width: 175px;
    height: 170px;
    float: left;
}
@media (max-width : 390px){
    .savegame-outer {
        float:none
    }
}

.savegame {
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    position: relative;
    margin: 9px;
    margin-bottom: -15px;
    width: 153px;
    padding: 4px;
    line-height: 1;
    border: 1px solid #DDD;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: -webkit-box-shadow 0.5s;
    transition: border 0.5s;
}

.savegame:hover {
    border-color: #08C;
    -webkit-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
    -moz-box-shadow: 0 1px 4px rgba(0,105,214,0.25);
    box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
}

.savegame .caption {
    padding: 2px 0 0 0;
}

.savegame .caption .author {
    font-size: 10px;
    float: left;
}

.savegame .caption::after {
    clear: both;
}

.savegame .caption::after, .savegame .caption::before {
    display: table;
    content: "";
}

.savegame .overlay {
    position: absolute;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 153px;
    padding: 3px 3px 0 3px;
    opacity: 0;
    top: 3px;
}

.savegame .overlay .btn {
    margin-bottom: 3px; 
    display: block;
}
