---
layout: default
title: ToS
html: tos.html
---
<h1>Terms Of Service</h1>
<p>Whether you Remain on this site means that you accept our terms in services and our cookies policy.</p>
<p>We may change the terms of refinement service without notification, so it is suggested that you review this document periodically.<p>
<h3>Cookies</h3>
<p>This site uses cookies from third parties to add social features (Github, Twitter and Facebook). </p>
<p>Note: We Also use the "__cfduid" cookie (see <a href="https://support.cloudflare.com/hc/en-us/articles/200170156-What-does-the-CloudFlare-cfduid-cookie-do-" >this</a> page for more information about that cookie).</p>
